@model Org.Ktu.Isk.P175B602.Autonuoma.ViewModels.RungtynesEditVM

@{
	ViewData["title"] = "Rungtynių šalinimas";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
	</span>
</div>

<div class="container-fluid d-flex justify-content-center">
@using (Html.BeginForm()) 
{
	@Html.AntiForgeryToken()

	<fieldset class="border rounded shadow p-2">
		<legend class="text-center">Ar tikrai norite šalinti šias rungtynes?</legend>

		<dl>
			<dt>@Html.DisplayNameFor(m => m.Rungtynes.FkSeimininkas)</dt>
			<dd>@Html.DisplayFor(m => m.Rungtynes.FkSeimininkas)</dd>

			<dt>@Html.DisplayNameFor(m => m.Rungtynes.FkSvecias)</dt>
			<dd>@Html.DisplayFor(m => m.Rungtynes.FkSvecias)</dd>	

			<dt>@Html.DisplayNameFor(m => m.Rungtynes.FaktineData)</dt>
			<dd>@String.Format("{0:yyyy-MM-dd}", Model.Rungtynes.FaktineData)</dd>
		
		</dl>

		@if( ViewData["deletionNotPermitted"] != null )
		{
			<div class="alert alert-warning text-center">
				<i class="fa-solid fa-circle-exclamation"></i> Šių rungtynių pašalinti negalima
			</div>
		}
		else
		{
			<div class="container-fluid d-flex d-row justify-content-end">
				<button
					formaction="@Url.Action("DeleteConfirm", new {data = Model.Rungtynes.FaktineData, seim = Model.Rungtynes.FkSeimininkas, svec = Model.Rungtynes.FkSvecias })"
					class="btn btn-danger"
					style="white-space: nowrap;"
				><i class="fa-solid fa-trash"></i> Šalinti</button>
			</div>			
		}
	</fieldset>
}
</div>

<div class="main-content-footer container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title"></span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
	</span>
</div>